.profile {
  padding: 10px;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .select-profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
  }
  .main {
    margin-left: 20px;
    .stats {
      width: 54%;
      div {
        p {
          margin-bottom: 0;
          margin-right: 16px;
          text-align: center;
          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
  ion-spinner{
    position: absolute;
    margin-left: 35px;
  }
}

.posts {
  .post {
    width: 30%;
    margin: 8px 4px;
    img {
      height: 120px;
      width: 100%;
    }
  }
}
