<ion-header [translucent]="true">
  <ion-toolbar class="px-2">
    <ion-title>Profile</ion-title>
    <ion-icon name="ellipsis-vertical-outline" slot="end" id="open-action-sheet"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (user) {
  <div class="profile d-flex align-items-center">
    <label class="hoverable" for="fileInput">
      <img [src]="user?.profilePic || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </label>
    <br />
    <input id="fileInput" type="file" class="select-profile-picture" (change)="onSelectFile($event)" />
    @if(isLoader){
    <ion-spinner></ion-spinner>
    }
    <div class="main">
      <h5>{{user.name}}</h5>
      <div class="stats d-flex justify-content-between">
        <div>
          <p>Posts</p>
          <p>{{posts?.length || 0}}</p>
        </div>
        <div>
          <p>Followers</p>
          <p>43.6 k</p>
        </div>
        <div>
          <p>following</p>
          <p>546</p>
        </div>
      </div>
    </div>
  </div>
  <div class="posts d-flex align-items-center flex-wrap">
    @for (post of posts;track $index) {
    <ion-item-group class="post" (click)="gotoPost(post.id)">
      <img [src]="post.postImage" alt="post" />
    </ion-item-group>
    }
  </div>
  }
  <ion-action-sheet
  trigger="open-action-sheet"
  [buttons]="actionSheetButtons"
  (didDismiss)="logResult($event)"
></ion-action-sheet>
</ion-content>