.profile {
  padding: 10px;
  ion-avatar {
    height: 120px;
  }
  .main {
    margin-left: 20px;
    .stats {
      width: 54%;
      div {
        p {
          margin-bottom: 0;
          margin-right: 16px;
          text-align: center;
          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.posts {
  .post {
    width: 30%;
    margin: 8px 4px;
    img {
      height: 100px;
      width: 100%;
    }
  }
}
