<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (user) {
  <div class="profile d-flex align-items-center">
    <ion-avatar>
      <img [src]="user?.profilePic" alt="Profile" />
    </ion-avatar>
    <div class="main">
      <h5>{{user.name}}</h5>
      <div class="stats d-flex justify-content-between">
        <div>
          <p>Posts</p>
          <p>{{posts?.length}}</p>
        </div>
        <div>
          <p>Followers</p>
          <p>43.6 k</p>
        </div>
        <div>
          <p>following</p>
          <p>546</p>
        </div>
      </div>
    </div>
  </div>
  <div class="posts d-flex align-items-center flex-wrap">
    @for (post of posts;track $index) {
    <div class="post">
      <ion-item-group class="post" (click)="gotoPost(post.id)">
        <img [src]="post.postImage" alt="post" />
      </ion-item-group>
    </div>
    }
  </div>
  }
</ion-content>
