<ion-content [fullscreen]="true">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Login</h3>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid"
      >Login</ion-button
    >
    <span class="signup-link"
      >Need an account? <a routerLink="/signup">SIGN UP</a></span
    >
  </form>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Invalid Credintials"
    [duration]="5000"
    position="top"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
