<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Tagline</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item-group *ngFor="let post of posts; let i=index">
        <ion-item-divider>
          <ion-avatar slot="start">
            <img [src]="post.postImage" alt="post" />
          </ion-avatar>
          <ion-label> <h3>{{post.userName}}</h3> </ion-label>
          <ion-icon
            name="ellipsis-vertical-outline"
            slot="end"
            [id]="'open-action-sheet' + i"
          ></ion-icon>
        </ion-item-divider>
        <ion-img
          class="post-img"
          [src]="post.postImage"
          alt="post image"
        ></ion-img>
        <ion-item-divider>
          <ion-icon
            [name]="post.isLike ? 'heart' : 'heart-outline'"
            slot="start"
            (click)="onLike(i)"
            [ngClass]="{'heart':post.isLike}"
          ></ion-icon>
        </ion-item-divider>
        <ion-action-sheet
          [trigger]="'open-action-sheet' + i"
          [buttons]="actionSheetButtons"
          (didDismiss)="logResult($event,post.id)"
        ></ion-action-sheet>
      </ion-item-group>
    </ion-list>
    <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ion-content>
</div>
