:host ion-item-divider {
    padding: 10px 0px 10px 15px;
  }
  :host ion-label {
    margin-left: 10px;
  }
  
  :host ion-item-group {
    margin-bottom: 20px;
  }
  .heart {
    color: red;
  }
  
  .post-img {
    height: 375px;
    width: 100%;
  }