<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Toolbar</ion-title>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="posts d-flex align-items-center flex-wrap">
    @for (post of posts;track $index) {
    <ion-item-group class="post" (click)="gotoPost(post.id)">
      <img [src]="post.postImage" alt="post" />
    </ion-item-group>
    }
  </div>
</ion-content>
