<ion-content [fullscreen]="true">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h3>Sign Up</h3>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!signUpForm.valid"
      >Sign Up</ion-button
    >
    <span class="login-link"
      >Already have an account? <a routerLink="/login">LOGIN</a></span
    >
  </form>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Invalid Credintials"
    [duration]="5000"
    position="top"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
