<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-list"></ion-back-button>
    </ion-buttons>
      <ion-thumbnail slot="start" >
        <img [src]="currentUser?.image" alt="profile">      
      </ion-thumbnail>
      <ion-title class="mx-3">{{currentUser?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Page Two</h1>
  <div>
    <!-- <ion-nav-link router-direction="forward" [component]="component">
      <ion-button>Go to Page Three</ion-button>
    </ion-nav-link> -->
  </div>
</ion-content>