<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button (click)="opneModel()">
      <ion-icon name="add-circle-outline"></ion-icon>
      Add Post
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person-circle-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
