<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (user of users;track $index) {
      <ion-nav-link router-direction="forward" [routerLink]="'/chat-details/' + user.id">
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="profile" [src]="user.image" />
          </ion-avatar>
          <ion-label class="mx-3">{{user.name}}</ion-label>
        </ion-item>
      </ion-nav-link>
    }
  </ion-list>
</ion-content>
